.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .content-wrapper {
    flex-direction: row;
  }

  .logo {
    display: block;
    width: 3rem;
    margin-right: 0.5rem;
    padding: 0.5rem;

    &::after {
      content: none;
    }
  }

  .settings {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }
}
