.as-split-gutter {
  position: relative !important;
  background-color: var(--border-color-25) !important;

  &:hover {
    background-color: gray !important;

    > .as-split-gutter-icon {
      opacity: 1;
    }
  }

  > .as-split-gutter-icon {
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    width: 1.25rem !important;
    background-color: rgba(128, 128, 128, 0.15);
    opacity: 0;
  }
}
