.docs-index-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: flex-start;

  a {
    &:hover {
      color: var(--primary-500);
    }
    
    &.active {
      color: var(--primary-500);
      font-weight: bold;
    }
  }
}
