<div class="header">
  <app-content-wrapper class="tab-bar" [maxWidth]="'85rem'">
    <a [routerLink]="'/'" class="logo">
      <img src="assets/logo.svg" alt="" />
    </a>
    <app-tab-bar [links]="links"></app-tab-bar>
    <div class="info"></div>
  </app-content-wrapper>
</div>

<app-content-wrapper class="main" [maxWidth]="'85rem'">
  <app-side-navigation-pane class="side-pane"></app-side-navigation-pane>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</app-content-wrapper>
