<div
  class="host text-sm md:text-base"
  [ngClass]="{
    'no-tags': showTags === 'false'
  }"
  >
  <span>Host</span>
  <div class="tags">
    <span>hostClass</span>
    <span>hostStyles</span>
  </div>

  <div class="label">
    <span>Label</span>
    <div class="tags">
      <span>labelClass</span>
      <span>labelStyles</span>
    </div>
  </div>

  <div class="content">
    <span>Content</span>
    <div class="tags">
      <span>contentClass</span>
      <span>contentStyles</span>
    </div>

    @if (descriptionPosition === 'before') {
      <ng-container
        [ngTemplateOutlet]="descriptionTemplate"
        >
      </ng-container>
    }

    <div class="input-area">
      <span>{{ isFormGroup === "true" ? "Form Group" : "Input Area" }}</span>
      <div class="tags">
        <span
          >{{ isFormGroup === "true" ? "formGroup" : "inputArea" }}Class</span
          >
          <span
            >{{ isFormGroup === "true" ? "formGroup" : "inputArea" }}Styles</span
            >
          </div>

          @if (isFormGroup === 'false') {
            <input class="doc-form-element" type="text" />
          }
        </div>

        @if (descriptionPosition === 'after') {
          <ng-container
            [ngTemplateOutlet]="descriptionTemplate"
            >
          </ng-container>
        }

        <div class="error">
          <span>Error</span>
          <div class="tags">
            <span>errorClass</span>
            <span>errorStyles</span>
          </div>
        </div>
      </div>
    </div>

    <ng-template #descriptionTemplate>
      <div class="description">
        <span>Description</span>
        <div class="tags">
          <span>descriptionClass</span>
          <span>descriptionStyles</span>
        </div>
      </div>
    </ng-template>
