<app-source-code-viewer [source]="source">
  <ng-container *ngIf="control">
    <ng-container [formGroup]="viewControl">
      <div class="form-group">
        <span>A</span>
        <input type="text" formControlName="a" />

        <span>B</span>
        <input type="text" formControlName="b" />

        <span>C</span>
        <input type="text" formControlName="c" />
      </div>
    </ng-container>

    <ng-container *ngIf="control.errors">
      <div>{{ control.errors | json }}</div>
    </ng-container>
  </ng-container>
</app-source-code-viewer>
