<label class="form-label">{{ label }}</label>

<h4>STATUS: {{ form?.status }}</h4>
<form action="POST" *ngIf="!!form" [formGroup]="form">
  <ng-container *ngFor="let item of data">
    <ng-container *ngIf="!item.child">
      <div class="form-control">
        <app-form-control
          [label]="item.label"
          [validators]="item.validators ?? []"
          formControlName="{{ item.label }}"
        ></app-form-control>
      </div>
    </ng-container>

    <ng-container
      *ngIf="!!item.child"
      [ngTemplateOutlet]="nestedForm"
      [ngTemplateOutletContext]="{
        child: item.child
      }"
    ></ng-container>
  </ng-container>
</form>

<ng-template #nestedForm let-child="child">
  <ng-container *ngFor="let item of child | keyvalue">
    <app-form-wrapper
      class="nested"
      [label]="$any(item.key)"
      [data]="$any(item.value)"
    ></app-form-wrapper>
  </ng-container>
</ng-template>
