:host {
    display: block;
    
    &.nested {
        margin: 0.5rem 0;
    }
}

.debug-info {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--primary-100);
  border-radius: 0.5rem;
}

.form-label {
  display: block;
}

form {
  display: grid;

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0 1rem;

    &:last-of-type {
        margin-bottom: 2rem;
    }
  }
}
