<label class="form-label">{{ label }}</label>

<ng-container *ngIf="!!form" [formGroup]="form">
  <ng-container *ngFor="let item of data">
    <ng-container *ngIf="!item.children">
      <div class="form-control">
        <app-form-control
          [label]="item.label"
          [inputType]="item.type ?? ''"
          [options]="item.options ?? []"
          [validators]="item.validators ?? []"
          formControlName="{{ item.formControlName }}"
        ></app-form-control>
      </div>
    </ng-container>

    <ng-container *ngIf="!!item.children">
      <app-form-wrapper
        formControlName="{{ item.formControlName }}"
        [label]="item.label"
        [data]="item.children"
      ></app-form-wrapper>
    </ng-container>
  </ng-container>
</ng-container>
