<label class="form-label">{{ label }}</label>

<div class="debug-info">
  <code>{{ form?.value | json }}</code>
  <br /><br />
  <code>
    <strong>STATUS: {{ form?.status }}</strong>
  </code>
</div>

<form action="POST" *ngIf="!!form" [formGroup]="form">
  <ng-container *ngFor="let item of data">
    <ng-container *ngIf="!item.child">
      <div class="form-control">
        <app-form-control
          [label]="item.label"
          [inputType]="item.type ?? ''"
          [options]="item.options ?? []"
          [validators]="item.validators ?? []"
          formControlName="{{ item.formControlName }}"
        ></app-form-control>
      </div>
    </ng-container>

    <ng-container
      *ngIf="!!item.child"
      [ngTemplateOutlet]="nestedForm"
      [ngTemplateOutletContext]="{
        label: item.label,
        child: item.child
      }"
    ></ng-container>
  </ng-container>
</form>

<ng-template #nestedForm let-label="label" let-child="child">
  <label class="form-label">{{ label }}</label>
  <ng-container *ngFor="let item of child | keyvalue">
    <app-form-wrapper
      class="nested"
      [label]="$any(item.key)"
      [data]="$any(item.value)"
    ></app-form-wrapper>
  </ng-container>
</ng-template>
