select {
  width: 100%;
  padding: 0.5rem;
  font-size: inherit;
  border-radius: 0.5rem;
  border: solid 1px lightgray;
  outline: none;

  &:hover,
  &:focus {
    border: solid 1px var(--primary-600);
    box-shadow: 0 0 2px 1px var(--primary-300);
  }
}
