<div
  [ngStyle]="{
    '--header-height.px': headerHeight$.value,
  }"
  [ngClass]="[
    'page',
    '-mt-[var(--header-height)] min-h-screen',
    'relative z-0 overflow-hidden'
  ]"
>
  <ui-content-wrapper class="relative z-0">
    <div class="banner">
      <div class="logo">
        <img src="assets/logo.svg" />
      </div>

      <h1>NgDynamicJsonForm</h1>
      <p>{{ i18nContent$.value.INTRODUCTION.BRIEF }}</p>

      <button
        type="button"
        [ngClass]="[
          'py-3 px-8 mt-12 bg-[var(--primary-500)] text-white rounded-full',
          'duration-100 transition-transform',
          'hover:-translate-y-1 hover:drop-shadow-lg'
        ]"
        [routerLink]="'/docs'"
      >
        {{ i18nContent$.value.GET_STARTED }}
      </button>
    </div>

    <div class="absolute -z-10 left-3/4 bottom-0 -top-12 -translate-x-1/2">
      <div class="illustration">
        <div style="--index: 0; height: 100%"></div>
        <div style="--index: 1; height: 50%; top: 35%; left: -40%"></div>
        <div style="--index: 6; top: 30%; left: 24%; width: 30%"></div>
        <div style="--index: 5; top: 27%; left: -50%; width: 60%"></div>
        <div style="--index: 3; top: 58%; left: -65%"></div>
        <div style="--index: 4; top: 6%; left: 10%"></div>
      </div>
    </div>

    <ng-container *ngIf="features$ | async as features">
      <div class="relative z-0 overflow-hidden">
        <ui-content-wrapper [maxWidth]="'40rem'">
          <ul class="features">
            <li>{{ features.CONDITIONS }}</li>
            <li>{{ features.NESTED_LEVELS }}</li>
            <li>{{ features.VALIDATORS }}</li>
            <li>{{ features.CUSTOM_COMPONENTS }}</li>
            <li>{{ features.LAYOUT }}</li>
            <li>{{ features.UI_LIBRARY }}</li>
          </ul>
        </ui-content-wrapper>
      </div>
    </ng-container>
  </ui-content-wrapper>
</div>
