<div
  class="page"
  [ngStyle]="{
    'margin-top.px': headerHeight$.value * -1
  }"
>
  <div class="banner">
    <div class="logo">
      <img src="assets/logo.svg" />
    </div>

    <h1>NgDynamicJsonForm</h1>
    <p>{{ i18nContent$.value.INTRODUCTION.BRIEF }}</p>

    <button type="button" class="btn-start" [routerLink]="'/getting-started'">
      {{ i18nContent$.value.MENU.GETTING_STARTED }}
    </button>
  </div>

  <ng-container *ngIf="features$ | async as features">
    <div class="relative z-0 py-[10vw] overflow-hidden">
      <ui-content-wrapper class="p-10" [maxWidth]="'70rem'">
        <ul class="features">
          <li>{{ features.CONDITIONS }}</li>
          <li>{{ features.NESTED_LEVELS }}</li>
          <li>{{ features.VALIDATORS }}</li>
          <li>{{ features.CUSTOM_COMPONENTS }}</li>
          <li>{{ features.LAYOUT }}</li>
        </ul>
      </ui-content-wrapper>

      <div class="absolute -z-10 right-[3rem] bottom-[3rem]">
        <div class="illustration">
          <div style="height: 100%"></div>
          <div style="height: 50%; top: 35%; left: -40%"></div>
          <div style="top: 40%; left: 32%; width: 20%"></div>
          <div style="top: 35%; left: -45%; width: 70%"></div>
          <div style="top: 58%; left: -65%"></div>
          <div style="top: 6%; left: 10%"></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
