:host {
  --color-active: var(--primary-500);

  display: flex;
  flex-direction: column;
}

:host-context(.dark) {
  :host {
    --color-active: rgb(var(--text-color-rgb));
  }
}

a {
  position: relative;
  padding: 0.65rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: rgba(128, 128, 128, 1);
  z-index: 0;
  transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.25);
  }

  &::after {
    content: none;
  }

  &:hover,
  &.active {
    color: var(--color-active);
    font-weight: bold;

    &::before {
      background-color: var(--primary-500);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    --color-active: rgb(var(--text-color-rgb));
  }
}

@media screen and (max-width: 992px) {
  a {
    padding-block: 1rem;

    &::before {
      content: none;
    }
  }
}
