<div
  class="main-content beauty-scrollbar"
  [style.--headerHeight.px]="headerHeight + 1"
>
  <as-split direction="horizontal">
    <as-split-area [size]="25">
      <div class="json-input">
        <div class="json-editor"></div>
        <div class="toolbar">
          <button class="btn-reset" (click)="reloadTestData()">
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
          </button>
          <button (click)="generateForm()">
            {{ languageData$.value.playground.generate_form }}
          </button>
        </div>
      </div>
    </as-split-area>

    <as-split-area [size]="50">
      <div class="ui-selector">
        <app-content-wrapper [maxWidth]="'40rem'">
          {{ languageData$.value.playground.ui_library.title }}:
          <select [value]="formUI" (change)="onUIChange($event)">
            <option value="ui-basic">
              {{ languageData$.value.playground.ui_library.native_html }}
            </option>
            <option value="ui-primeng">PrimeNg</option>
            <option value="ui-material">Material</option>
          </select>
        </app-content-wrapper>
      </div>

      <app-content-wrapper [maxWidth]="'40rem'">
        <div class="p-5">
          <ng-dynamic-json-form
            [jsonData]="jsonData"
            [customValidators]="customValidators"
            [customComponents]="customComponents"
            [uiComponents]="customUIComponents"
            (formGet)="onFormGet($event)"
          ></ng-dynamic-json-form>
        </div>
      </app-content-wrapper>
    </as-split-area>

    <as-split-area [size]="25">
      <as-split direction="vertical">
        <as-split-area [size]="10" [minSize]="10">
          <div class="split-content">
            <div class="sticky-header">
              <h4>STATUS</h4>
            </div>
            <span>{{ form?.status ?? "--" }}</span>
          </div>
        </as-split-area>

        <as-split-area [size]="60">
          <div class="split-content">
            <div class="sticky-header">
              <h4>VALUE</h4>
            </div>
            <code>{{ form?.value | json }}</code>
          </div>
        </as-split-area>

        <as-split-area [size]="30">
          <div class="split-content">
            <div class="sticky-header">
              <h4>ERRORS</h4>
            </div>
            <code>
              {{ form?.errors | json }}
            </code>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
