<!-- desktop -->
<ng-container *ngIf="windowSize$.value.x >= 768">
  <div
    class="relative z-0 hidden md:flex"
    [ngStyle]="{
      '--header-height.px': headerHeight$.value,
      '--panel-width': '20rem'
    }"
  >
    <!-- Template list and editor -->
    <div
      [ngClass]="[
        'fixed bottom-0 w-full z-10 overflow-hidden pointer-events-none',
        'flex items-center',
        'h-[calc(100vh-var(--header-height))]'
      ]"
    >
      <div
        [ngClass]="[
          'flex flex-col shrink-0 pointer-events-auto',
          'h-full w-[calc(var(--panel-width)+var(--gutter-auto))]',
          'min-w-[var(--panel-width)]',
          'border-r border-[var(--border-color-25)]',
          'pl-[var(--gutter-auto)]',
          'bg-[var(--body-bg-color)]',
          showEditor ? 'shadow-2xl' : ''
        ]"
      >
        <div
          [ngClass]="[
            'flex gap-2 px-8 py-2 m-2 mt-4',
            'rounded-full text-sm font-bold bg-[rgba(128,128,128,0.1)]'
          ]"
        >
          <span>NgDynamicJsonForm</span>
          <span class="uppercase">{{ currentVersion }}</span>
        </div>

        <app-playground-template-list
          class="block overflow-hidden"
          (onEdit)="onTemplateEdit($event)"
        ></app-playground-template-list>
      </div>

      <app-playground-editor
        [class]="
          [
            'relative -z-10 pointer-events-auto',
            'h-full w-[calc(100vw-var(--panel-width)-2em)]',
            'max-w-[calc(85rem-var(--panel-width))]',
            'max-h-[calc(100%-2rem)]',
            'rounded-r-lg shadow-lg overflow-hidden',
            'duration-300 transition-transform ease-[cubic-bezier(.11,.99,.57,1)]',
            showEditor ? 'translate-x-0' : 'translate-x-[calc(-100%-1rem)]'
          ].join(' ')
        "
        [data]="editorData$ | async"
        (onEditing)="onConfigEditing($event)"
      ></app-playground-editor>
    </div>

    <ui-content-wrapper [maxWidth]="'var(--page-max-width)'">
      <div [ngClass]="['flex-1 w-full', 'pl-[var(--panel-width)]']">
        <!-- Form content -->
        <as-split
          class="!overflow-visible"
          [useTransition]="true"
          [gutterSize]="1"
          [gutterDblClickDuration]="300"
          (dragEnd)="onAsSplitDragEnd($event)"
          (gutterDblClick)="resetSplitSizes()"
        >
          <as-split-area
            class="flex flex-col !overflow-hidden"
            [size]="asSplitSizes[0]"
          >
            <!-- UI library select -->
            <div class="flex gap-8 px-6 ml-auto">
              <ng-container
                *ngTemplateOutlet="formUiSelectTemplate"
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="errorMessageToggle"
              ></ng-container>
            </div>

            <!-- Form -->
            <div
              [ngClass]="[
                'w-full h-full px-8 py-10',
                'overflow-auto beauty-scrollbar'
              ]"
            >
              <ng-container
                *ngTemplateOutlet="dynamicFormTemplate"
              ></ng-container>
            </div>
          </as-split-area>

          <!-- Form info -->
          <as-split-area
            [ngClass]="[
              'sticky top-[var(--header-height)] !overflow-hidden',
              '!h-[calc(100vh-var(--header-height))]'
            ]"
            [size]="asSplitSizes[1]"
          >
            <ng-container *ngTemplateOutlet="formInfoTemplate"></ng-container>
          </as-split-area>
        </as-split>
      </div>
    </ui-content-wrapper>
  </div>
</ng-container>

<!-- mobile -->
<ng-container *ngIf="windowSize$.value.x < 768">
  <div
    [ngClass]="[
      'flex flex-col md:hidden',
      'h-[calc(var(--window-height)-var(--header-height))] overflow-hidden'
    ]"
    [ngStyle]="{
      '--header-height.px': headerHeight$.value,
      '--window-height.px': windowSize$.value.y
    }"
  >
    <!-- Tabs -->
    <div
      [ngClass]="[
        'sticky top-0 z-10',
        'grid grid-cols-[repeat(3,1fr)] gap-2',
        'border-b border-[var(--border-color-25)]',
        'whitespace-nowrap min-h-12 overflow-auto'
      ]"
    >
      <ng-container *ngFor="let item of mobileTabs$ | async; index as i">
        <button
          type="button"
          [ngClass]="[
            mobileTabSelected === i
              ? 'text-[var(--primary-500)] font-bold'
              : 'text-[rgba(128,128,128,0.75)]',
            'p-2 uppercase text-xs'
          ]"
          (click)="switchMobileTab(i)"
        >
          {{ item }}
        </button>
      </ng-container>
    </div>

    <!-- Template list and editor -->
    <div
      [ngClass]="[
        mobileTabSelected === 0 ? 'flex' : 'hidden',
        'flex-1 flex-col overflow-hidden'
      ]"
    >
      <app-playground-editor
        class="flex-1 overflow-hidden"
        [data]="editorData$ | async"
        (onEditing)="onConfigEditing($event)"
      ></app-playground-editor>

      <app-playground-template-list
        class="p-2"
        (onEdit)="onTemplateEdit($event)"
      ></app-playground-template-list>
    </div>

    <!-- Form -->
    <div
      [ngClass]="[
        mobileTabSelected === 1 ? 'block' : 'hidden',
        'overflow-auto'
      ]"
    >
      <!-- UI select -->
      <div
        [ngClass]="[
          'p-4',
          'border-b border-[var(--border-color-25)]',
          'bg-[rgba(var(--text-color-rgb),0.075)]'
        ]"
      >
        <ng-container
          *ngTemplateOutlet="
            formUiSelectTemplate;
            context: {
              isMobile: true
            }
          "
        ></ng-container>

        <div class="mt-5">
          <ng-container *ngTemplateOutlet="errorMessageToggle"></ng-container>
        </div>
      </div>

      <ng-container *ngTemplateOutlet="dynamicFormTemplate"></ng-container>
    </div>

    <!-- Form info -->
    <div
      [ngClass]="[
        mobileTabSelected === 2 ? 'block' : 'hidden',
        'h-full overflow-hidden'
      ]"
    >
      <ng-container *ngTemplateOutlet="formInfoTemplate"></ng-container>
    </div>
  </div>
</ng-container>

<ng-template #formUiSelectTemplate let-isMobile="isMobile">
  <div [ngClass]="['flex gap-2 items-center']">
    <span class="shrink-0 font-bold">UI</span>
    <select
      [ngClass]="[isMobile ? 'bg-transparent text-inherit' : '']"
      [ngModel]="currentUi"
      (ngModelChange)="onFormUiChange($event)"
    >
      <ng-container *ngFor="let item of customUiComponents | keyvalue">
        <option [ngValue]="item.key">{{ item.key }}</option>
      </ng-container>
    </select>
  </div>
</ng-template>

<ng-template #errorMessageToggle>
  <div class="ng-dynamic-json-form ui-basic">
    <div class="form-control-container">
      <label class="option-button switch-button justify-between">
        <input type="checkbox" [formControl]="hideErrorMessageControl" />
        <span>hideErrorMessage</span>
        <span class="marker"></span>
      </label>
    </div>
  </div>
</ng-template>

<ng-template #dynamicFormTemplate>
  <ng-dynamic-json-form
    class="flex flex-col p-5 text-sm md:text-base"
    [configs]="(configs$ | async) ?? []"
    [uiComponents]="customUiComponents[currentUi]"
    [hideErrorMessage]="hideErrorMessageControl.value ?? false"
    [formControl]="formControl"
    (formGet)="onFormGet($event)"
  ></ng-dynamic-json-form>
</ng-template>

<ng-template #formInfoTemplate>
  <app-playground-form-info [control]="formControl"></app-playground-form-info>
</ng-template>
