<!-- desktop -->
<div
  class="hidden lg:flex flex-col h-full p-2 px-6 pb-16 overflow-auto beauty-scrollbar"
>
  <ng-container
    *ngFor="let item of list$ | async"
    [ngTemplateOutlet]="listItemTemplate"
    [ngTemplateOutletContext]="{
      key: item.key,
      label: item.label,
      isUserTemplate: !item.isExample
    }"
  ></ng-container>

  <div class="mt-8">
    <ng-container *ngTemplateOutlet="templateNameInputTemplate"></ng-container>
  </div>
</div>

<!-- mobile -->
<div class="block lg:hidden">
  <div
    [ngClass]="[
      showTemplateNameInput ? 'hidden' : 'flex',
      'gap-2 items-center'
    ]"
  >
    <ng-container *ngIf="currentTemplate$ | async as currentTemplate">
      <button
        type="button"
        class="p-2"
        (click)="
          currentTemplate.isExample
            ? reset(currentTemplate.key || '')
            : remove(currentTemplate.key || '')
        "
      >
        <i
          class="bi"
          [ngClass]="{
            'bi-arrow-repeat': currentTemplate.isExample,
            'bi-trash': !currentTemplate.isExample
          }"
        ></i>
      </button>
    </ng-container>

    <select
      [ngModel]="currentTemplateKey$.value"
      (ngModelChange)="select($event)"
    >
      <ng-container *ngFor="let item of list$ | async">
        <option [ngValue]="item.key">{{ item.label }}</option>
      </ng-container>
    </select>

    <!-- Add new template -->
    <button type="button" class="p-2" (click)="toggleTemplateNameInput(true)">
      <i class="bi bi-plus-lg"></i>
    </button>

    <!-- Save template -->
    <ng-container *ngIf="currentTemplate$ | async as currentTemplate">
      <button
        type="button"
        class="p-2"
        (click)="save(currentTemplate.key || '', !currentTemplate.isExample)"
      >
        <i class="bi bi-floppy"></i>
      </button>
    </ng-container>
  </div>

  <div [ngClass]="[showTemplateNameInput ? 'flex' : 'hidden', 'gap-2']">
    <ng-container
      *ngIf="showTemplateNameInput"
      [ngTemplateOutlet]="templateNameInputTemplate"
    ></ng-container>

    <!-- Cancel add template -->
    <button
      type="button"
      class="p-2"
      [ngClass]="{ hidden: nameControl.value }"
      (click)="toggleTemplateNameInput(false)"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>

<ng-template #templateNameInputTemplate>
  <div class="flex-1 flex gap-2">
    <input
      type="text"
      [formControl]="nameControl"
      [ngClass]="[
        'p-1 px-2 border border-[var(--border-color-50)] lg:border-transparent bg-transparent',
        'hover:border-[var(--border-color-50)] focus:border-[var(--border-color-50)]',
        'hover:bg-[rgb(var(--bg-color-rgb))] focus:bg-[rgb(var(--bg-color-rgb))]'
      ]"
      [placeholder]="i18nContent$.value.PLAYGROUND.TEMPLATE.NEW + '...'"
      (keydown.enter)="newTemplate()"
    />

    <div
      class="shrink-0 flex items-center gap-2"
      [ngClass]="{
        hidden: !nameControl.value
      }"
    >
      <button type="button" class="p-2" (click)="cancelNewTemplate()">
        <i class="bi bi-x-lg"></i>
      </button>

      <button type="button" class="p-2" (click)="newTemplate()">
        <i class="bi bi-check2 text-lg"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  #listItemTemplate
  let-isUserTemplate="isUserTemplate"
  let-key="key"
  let-label="label"
>
  <button
    type="button"
    [ngClass]="[
      'relative z-0 flex items-start btn-template-name',
      'px-4 py-1 text-start',
      'duration-200',
      currentTemplateKey$.value === key ? 'active' : ''
    ]"
    (click)="select(key)"
  >
    <span>{{ label }}</span>

    <div
      [ngClass]="[
        'absolute top-1/2 right-0 z-10 -translate-y-1/2',
        'flex items-center gap-2 h-[90%]',
        'bg-[rgba(var(--body-bg-color-rgb),0.65)]',
        'pointer-events-none',
        'duration-200',
        'template-edit'
      ]"
    >
      <ng-container *ngIf="isEditing">
        <ng-container *ngIf="!isUserTemplate">
          <button type="button" (click)="reset(key)">
            <i class="bi bi-arrow-repeat rotate-45"></i>
          </button>
        </ng-container>

        <ng-container *ngIf="isUserTemplate">
          <button type="button" (click)="remove(key)">
            <i class="bi bi-trash"></i>
          </button>
        </ng-container>

        <button type="button" (click)="save(key, isUserTemplate === true)">
          <i class="bi bi-check2 text-lg"></i>
        </button>

        <button type="button" (click)="setEditStatus(false)">
          <i class="bi bi-x-lg"></i>
        </button>
      </ng-container>

      <ng-container *ngIf="!isEditing">
        <button type="button" (click)="setEditStatus(true)">
          <i class="bi bi-pencil-square"></i>
        </button>
      </ng-container>
    </div>
  </button>
</ng-template>
