<label class="form-label">{{ label }}</label>

<ng-container *ngIf="!!form" [formGroup]="form">
  <div class="container">
    <ng-container *ngFor="let item of data">
      <!-- Form control -->
      <ng-container *ngIf="!item.children && !item.formArray">
        <app-form-control
          [data]="item"
          formControlName="{{ item.formControlName }}"
        ></app-form-control>
      </ng-container>

      <!-- Child form group -->
      <ng-container *ngIf="!!item.children && !item.formArray">
        <div class="form-group">
          <app-form-group
            class="nested"
            formControlName="{{ item.formControlName }}"
            [label]="item.label"
            [data]="item.children"
          ></app-form-group>
        </div>
      </ng-container>

      <!-- Form array -->
      <ng-container *ngIf="!!item.formArray && !item.children">
        <div class="form-group">
          <app-form-array
            class="nested"
            formControlName="{{ item.formControlName }}"
            [label]="item.label"
            [data]="item.formArray.template"
            [count]="item.formArray.count"
          ></app-form-array>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
