:host {
  display: block;

  &.nested {
    margin: 0.5rem 0;

    .form-label {
      display: block;
    }
  }
}
.container {
  display: grid;
  gap: 1rem;
  row-gap: 0.5rem;
}

.form-label {
  display: none;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: solid 1px var(--primary-500);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;

  &.grid-layout {
    margin-bottom: 0;
  }

  + :not(.form-control) {
    margin-top: 2rem;
  }
}
