<label class="form-label">{{ label }}</label>

<ng-container *ngIf="!!form" [formGroup]="form">
  <div class="container">
    <ng-container *ngFor="let item of data">
      <ng-container *ngIf="!item.children">
        <div
          class="form-control"
          [ngClass]="{
            'grid-layout': item.gridRow || item.gridColumn
          }"
          [ngStyle]="{
            'grid-row': item.gridRow ?? '',
            'grid-column': item.gridColumn ?? ''
          }"
        >
          <app-form-control
            [data]="item"
            formControlName="{{ item.formControlName }}"
          ></app-form-control>
        </div>
      </ng-container>

      <ng-container *ngIf="!!item.children">
        <div class="form-group">
          <app-form-group
            class="nested"
            formControlName="{{ item.formControlName }}"
            [label]="item.label"
            [data]="item.children"
          ></app-form-group>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
