<label class="form-label">{{ label }}</label>

<ng-container *ngIf="!!form" [formGroup]="form">
  <div class="container">
    <ng-container *ngFor="let item of data">
      <!-- Form control -->
      <ng-container *ngIf="!item.children && !item.formArray">
        <app-form-control
          [data]="item"
          formControlName="{{ item.formControlName }}"
        ></app-form-control>
      </ng-container>

      <!-- Child form group -->
      <ng-container *ngIf="!!item.children && !item.formArray">
        <app-form-group
          class="nested"
          formControlName="{{ item.formControlName }}"
          [label]="item.label"
          [data]="item.children"
        ></app-form-group>
      </ng-container>

      <!-- Form array -->
      <ng-container *ngIf="!!item.formArray && !item.children">
        <app-form-array
          class="nested"
          formControlName="{{ item.formControlName }}"
          [label]="item.label"
          [data]="item.formArray"
        ></app-form-array>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
