@mixin rootVariables {
  --primary-900: #f7f6ff;
  --primary-800: #c7c3df;
  --primary-700: #afa9d1;
  --primary-600: #968ec2;
  --primary-500: #7d74b4;
  --primary-400: #6559a6;
  --primary-300: #4f4681;
  --primary-200: #38325d;
  --primary-100: #221e38;
  --primary-50: #0c0b14;

  --body-bg-color-rgb: 25, 25, 35;
  --bg-color-rgb: 40, 40, 40;
  --text-color-rgb: 185, 185, 185;
  --code-bg-color: rgb(36, 36, 36);
}

@mixin html {}
