@mixin rootVariables {
  --primary-900: #C7C3DF;
  --primary-800: #AFA9D1;
  --primary-700: #968EC2;
  --primary-600: #7D74B4;
  --primary-500: #6559A6;
  --primary-400: #4F4681;
  --primary-300: #38325D;
  --primary-200: #221E38;
  --primary-100: #0C0B14;

  --body-bg-color: rgb(20, 20, 20);
  --bg-color-rgb: 40, 40, 40;
  --text-color-rgb: 200, 200, 200;
}

@mixin html {
  code {
    &:not([class*="lang"]) {
      color: var(--primary-700);
    }
  }
}
