.ng-dynamic-json-form {
  --color-primary: var(--primary-500);
  --color-border: rgba(128, 128, 128, 0.5);
}

select.doc-form-element {
  @apply px-4 py-2 border border-[var(--border-color-25)];
  @apply hover:border-[var(--primary-500)];

  background-color: rgb(var(--bg-color-rgb));
  color: rgb(var(--text-color-rgb));
}

input.doc-form-element,
textarea.doc-form-element {
  background-color: rgb(var(--bg-color-rgb));
  color: rgb(var(--text-color-rgb));
}

input.doc-form-element,
select.doc-form-element {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: inherit;
  outline: none;
}
