.ng-dynamic-json-form {
  --color-primary: var(--primary-500);
  --color-primary-lighter: var(--primary-200);
}

input,
textarea,
.ng-dynamic-json-form.ui-basic input,
.ng-dynamic-json-form.ui-basic textarea {
  border: solid 1px rgba(128, 128, 128, 0.35);
  background-color: rgb(var(--bg-color-rgb));
  color: rgb(var(--text-color-rgb));

  &:hover {
    border-color: var(--primary-500);
  }

  &:focus {
    border-color: var(--primary-600);
  }
}

select,
.ng-dynamic-json-form.ui-basic select {
  border: solid 1px rgba(128, 128, 128, 0.35);
  background-color: rgb(var(--bg-color-rgb));
  color: rgb(var(--text-color-rgb));

  &:hover,
  &:focus {
    border: solid 1px var(--primary-600);
  }
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: inherit;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 3px var(--primary-200);
  }
}

mat-form-field {
  input,
  select {
    &:focus {
      box-shadow: none;
    }
  }
}
