markdown {
  > *:first-child {
    margin-top: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-600);
    margin-top: 2rem;
  }

  h1,
  *:not(h1) + h2 {
    margin-top: 3.5rem;
  }

  a {
    position: relative;
    color: var(--primary-500);
    text-align: center;
    z-index: 0;

    &:hover {
      text-decoration: none;

      &::after {
        width: 100%;
        opacity: 1;
        transition: 0.25s;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 50%;
      background-color: var(--primary-500);
      opacity: 0;
    }
  }

  hr {
    margin: 2.5rem 0;
  }

  ul {
    margin: 0.5rem 0;

    li {
      --marker-size: 0.35em;

      position: relative;
      padding-inline-start: 1rem;

      &::before {
        content: "";
        position: absolute;
        top: calc(1em - var(--marker-size));
        left: 0;
        width: var(--marker-size);
        height: var(--marker-size);
        border-radius: 50%;
        background-color: var(--primary-600);
      }
    }
  }

  pre {
    border-radius: 0.5rem;
  }

  code {
    &:not([class*="lang"]) {
      display: inline-block;
      padding: 0 0.25rem;
      margin: 0.1rem;
      font-size: 0.95rem;
      border: solid 1px rgba(128, 128, 128, 0.2);
      background-color: rgba(128, 128, 128, 0.1);
      color: var(--primary-500);
      border-radius: 3px;
    }
  }

  blockquote {
    padding: 0.5rem;
    padding-left: 1rem;
    margin-block: 1rem;
    margin-inline: 0;
    border-left: solid 8px var(--primary-500);
    border-radius: 0.2rem;
    background-color: var(--primary-100);
    color: var(--primary-900);

    p {
      margin-block: 0.25rem;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    padding: 1rem;

    th {
      padding: 0.5rem;
      border-block: solid 1px rgba(128, 128, 128, 0.5);
      color: rgba(128, 128, 128, 1);
      font-weight: normal;
      text-transform: uppercase;
    }

    td {
      padding: 0.5rem;
      border-bottom: solid 1px rgba(128, 128, 128, 0.15);
    }

    tr:nth-child(even) {
      background-color: rgba(128, 128, 128, 0.035);
    }
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 2rem 0;
  }

  .multi-column {
    --column-count: 1;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 1rem;
  }
}

.form-info {
  markdown {
    pre {
      box-shadow: none;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  markdown {
    .multi-column {
      grid-template-columns: 1fr;
    }
  }
}
