@use "./tailwind";
@use "primeng/resources/primeng.min.css";
@use "./dark-theme" as dark;
@use "./form-elements";
@use "./docs-styling";
@use "./markdown";
@use "./components/scrollbar";
@use "./components/as-split";
@use "./components/backdrop";
@use "./components/loading-indicator";
@use "./components/docs-index-container";

:root {
  --primary-50: #f7f6ff;
  --primary-100: #efecff;
  --primary-200: #cfc7ff;
  --primary-300: #afa1ff;
  --primary-400: #8f7bff;
  --primary-500: #5f43ff;
  --primary-600: #4c36cc;
  --primary-700: #392899;
  --primary-800: #261b66;
  --primary-900: #130d33;

  --bg-color-rgb: 255, 255, 255;
  --body-bg-color-rgb: 255, 255, 255;
  --text-color-rgb: 35, 35, 35;
  --body-bg-color: rgb(var(--body-bg-color-rgb));
  --code-bg-color: rgb(215, 215, 215);

  --border-color-25: rgba(128, 128, 128, 0.25);
  --border-color-50: rgba(128, 128, 128, 0.5);

  --page-max-width: 100rem;
  --gutter-auto: calc(50% - var(--page-max-width) * 0.5);

  &.dark {
    @include dark.rootVariables;
  }
}

html {
  font-family: "Roboto", "Noto Sans TC", "Noto Sans SC", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  &.dark {
    @include dark.html;
  }
}

body {
  @apply flex flex-col min-h-screen;
  @apply text-[rgb(var(--text-color-rgb))] bg-[var(--body-bg-color)];
}

.bi,
[class*=" bi-"],
[class^="bi-"] {
  display: block;
  width: 1.25em;
  height: 1.25em;
}

doc-code,
doc-tab {
  @apply my-4 border border-[var(--border-color-25)] rounded-lg overflow-hidden;

  &:not(.hidden) {
    @apply block;
  }
}

doc-code {
  @apply border-0;
}

doc-tab doc-code {
  @apply my-0 border-0 rounded-none;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    @include dark.rootVariables;
  }

  html:not(.light) {
    @include dark.html;
  }
}
