:host {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header {
  background-color: rgba(var(--bg-color-rgb), 0.925);
  backdrop-filter: blur(8px);
  border-bottom: solid 1px rgb(var(--bg-color-rgb));
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 0;

  .tab-bar {
    flex-direction: row;

    .logo {
      display: flex;
      width: 3rem;
      margin-right: 0.5rem;
      padding: 0.5rem;

      &::after {
        content: none;
      }
    }

    .settings {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 1rem;
    }
  }
}
