:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
}

@media (max-width: 992px) {
    .main-content {
        flex-direction: column;
    }
}