<h1>Angular dynamic form</h1>

<div class="info">
  JSON format:
  <code> </code>
</div>

<div class="main-content">
  <app-json-input (onChanged)="onJsonEditorChanged($event)"></app-json-input>
  <div class="form-generated">
    <button (click)="generateForm()">Generate form</button>
    
    <div class="debug-info">
      <code>{{ form?.value | json }}</code>
      <br /><br />
      <code>
        <strong>STATUS: {{ form?.status }}</strong>
      </code>
    </div>

    <app-dynamic-form-generator
      *ngIf="jsonString"
      [jsonString]="jsonString"
      (formGet)="onFormGet($event)"
    ></app-dynamic-form-generator>
  </div>
</div>
