.top-bg {
  --grid-line-color: rgba(var(--text-color-rgb), 0.05);
  --grid-line-weight: 1px;
  --grid-size: 2rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: linear-gradient(
      0deg,
      transparent 50%,
      var(--grid-line-color) 50%,
      transparent calc(50% + var(--grid-line-weight))
    ),
    linear-gradient(
      90deg,
      transparent 50%,
      var(--grid-line-color) 50%,
      transparent calc(50% + var(--grid-line-weight))
    );
  background-repeat: repeat;
  background-size: var(--grid-size) var(--grid-size);
  mask-image: linear-gradient(white, transparent);
  z-index: -100;
  pointer-events: none;
}
