:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(350px, 2fr) 3fr minmax(350px, 2fr);
  gap: 3rem;
  padding: 1rem;

  .json-input {
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: var(--primary-100);
    padding: 1rem;

    app-json-input {
      flex: 1;
    }
  }
}

.debug-info {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--primary-100);
  border-radius: 0.5rem;
  overflow: auto;
}

.section-title {
  margin: 0;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .main-content {
    flex-direction: column;
  }
}
