<div
  [ngClass]="[
    'relative z-0 flex gap-2',
    'overflow-x-auto overflow-y-hidden hidden-scrollbar',
  ]"
>
  @for (item of links(); track item.route) {
    <a
      [ngClass]="[
        'inline-flex',
        'p-3 px-4',
        'text-sm lg:text-base',
        'word-keep whitespace-nowrap',
        'duration-200 transition-[opacity]',
      ]"
      [routerLink]="'/' + item.route"
      [routerLinkActive]="'active'"
      >{{ item.label }}</a
    >
  }

  <span class="indicator"></span>
</div>
