:host {
  --sidePaneWidth: 18rem;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-direction: row;
  align-items: flex-start;

  .side-pane {
    flex-shrink: 0;
    position: sticky;
    top: var(--header-height);
    width: var(--sidePaneWidth);
    height: calc(100vh - var(--header-height));
    padding: 2rem 0 3rem;
    margin-left: 1rem;
    background-color: rgba(128, 128, 128, 0.05);
    border-right: solid 1px rgba(128, 128, 128, 0.2);
    overflow: auto;
    z-index: 0;
  }

  .content {
    width: 100%;
    padding: 1rem 2rem 10rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .main {
    flex-direction: column;

    .side-pane {
      display: none;
    }

    .content {
      padding: 1rem 1rem 5rem;
    }
  }
}
