.section-container {
  border: solid 1px var(--border-color-50);
  border-top: 0;

  &:last-child {
    margin-bottom: 2rem;
  }

  &.active {
    .section-title {
      border-bottom: solid 1px var(--border-color-50);

      button {
        display: inline-flex;
      }
    }

    .section-body {
      grid-template-rows: 1fr;
    }
  }

  .section-title {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-top: solid 1px var(--border-color-50);
    background-color: var(--body-bg-color);
    width: 100%;
    text-align: left;
    cursor: pointer;
    z-index: 10;

    &.readonly {
      cursor: auto;
      background-color: color-mix(
        in oklch,
        var(--color-gray-400),
        transparent 80%
      );
    }

    span {
      flex: 1;
      padding: 0.5rem 0;
    }

    button {
      display: none;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 9999px;
      cursor: pointer;

      &:hover {
        background-color: color-mix(
          in oklch,
          var(--color-gray-400),
          transparent 70%
        );
      }
    }
  }

  .section-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.35s;

    > .overflow-hidden > *:not(app-playground-editor) {
      padding: 0.75rem;
    }
  }

  .code {
    padding: 0.5rem;
    background-color: color-mix(
      in oklch,
      var(--color-gray-400),
      transparent 90%
    );
    border-radius: 0.375rem;
    font-size: 0.875rem;
  }
}
