:host {
  display: block;
  margin: 1rem 0;
}

:host-context(doc-tab) {
  margin: 0;

  .content {
    transition-duration: 0;
  }
}

.content {
  transition-duration: 300ms;
}

.toolbar {
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px var(--border-color-25);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
  }
}
