:host {
  position: sticky;
  top: 0;
  display: block;
  z-index: 999;
}

.header-container {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &.show-background {
    &::before {
      backdrop-filter: blur(4px);
      background-color: rgba(var(--body-bg-color-rgb), 0.35);
      mask: linear-gradient(var(--body-bg-color) 60%, transparent);
    }
  }

  &.full-background {
    &::before {
      mask: unset;
      border-bottom: solid 1px var(--border-color-25);
    }
  }
}
