:host {
  position: sticky;
  top: 0;
  display: block;
  z-index: 999;
}

.header-container {
  @apply relative z-0;

  &::before {
    @apply absolute top-0 left-0 w-full h-full;

    content: "";
    z-index: -1;
  }

  &.show-background {
    &::before {
      @apply backdrop-blur;
      background-color: rgba(var(--body-bg-color-rgb), 0.35);
      mask: linear-gradient(var(--body-bg-color) 60%, transparent);
    }
  }

  &.full-background {
    &::before {
      mask: unset;
      border-bottom: solid 1px var(--border-color-25);
    }
  }
}

app-header-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  app-header-desktop {
    display: none;
  }

  app-header-mobile {
    display: block;
  }
}
