<ng-container *ngIf="control">
  <div class="flex flex-col h-full">
    <div
      [ngClass]="[
        'h-full whitespace-pre',
        'overflow-hidden beauty-scrollbar affect-child'
      ]"
    >
      <div
        class="h-full flex flex-col p-4 rounded-md"
        style="background-color: rgba(128, 128, 128, 0.05)"
        [ngClass]="{
          hidden: selectedTab !== 0
        }"
      >
        <div class="flex-1 block text-sm overflow-auto">
          {{ control.value | json }}
        </div>

        <div class="flex justify-evenly gap-4 font-bold">
          <span
            [ngClass]="{
              'opacity-30': !control.dirty
            }"
            >dirty</span
          >

          <span
            [ngClass]="{
              'opacity-30': !control.pristine
            }"
            >pristine</span
          >

          <span
            [ngClass]="{
              'opacity-30': !control.touched
            }"
            >touched</span
          >
        </div>
      </div>

      <div
        class="block h-full overflow-auto text-sm p-4 rounded-md"
        style="background-color: rgba(128, 128, 128, 0.05)"
        [ngClass]="{
          hidden: selectedTab !== 1
        }"
      >
        {{ control.errors | json }}
      </div>

      <div
        class="flex flex-col gap-2 h-full"
        [ngClass]="{
          hidden: selectedTab !== 2
        }"
      >
        <app-playground-editor
          class="block flex-1 overflow-hidden"
          [data]="{ json: control.value }"
          [mainMenuBar]="false"
          [navigationBar]="false"
          [statusBar]="false"
          (onEditing)="onEditing($event)"
        ></app-playground-editor>

        <div class="flex flex-wrap gap-2 md:p-0 px-3">
          <ng-container *ngFor="let item of editToolbar">
            <button
              type="button"
              class="p-1 border border-[var(--border-color-50)] rounded-md text-sm"
              (click)="item.action()"
            >
              {{ item.label }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <div [ngClass]="['grid grid-cols-3 gap-1 mt-auto', 'pt-2 md:px-0 px-3']">
      <ng-container *ngFor="let item of tabs; index as i">
        <button
          type="button"
          [ngClass]="[
            'flex items-center justify-center gap-1',
            'p-2 rounded-md',
            'hover:bg-[color-mix(in_srgb,var(--primary-50)85%,var(--primary-500))]',
            'text-sm lg:text-base',
            selectedTab === i
              ? 'text-[var(--primary-500)] font-bold'
              : 'text-inherit'
          ]"
          (click)="switchTab(i)"
        >
          <ng-container *ngIf="item.icon">
            <i class="text-lg" [ngClass]="[item.icon]"></i>
          </ng-container>

          <ng-container *ngIf="!item.icon">
            <span>{{ item.label }}</span>
          </ng-container>
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
