<ng-container *ngIf="form">
  <div class="flex flex-col h-full">
    <div
      [ngClass]="[
        'p-4 pb-2 h-full whitespace-pre',
        'overflow-hidden beauty-scrollbar affect-child'
      ]"
    >
      <ng-container *ngIf="selectedTab === 0">
        <markdown
          class="block h-full overflow-hidden"
          [data]="form.value | json | language : 'javascript'"
        ></markdown>
      </ng-container>

      <ng-container *ngIf="selectedTab === 1">
        <markdown
          class="block h-full overflow-hidden"
          [data]="form.errors | json | language : 'javascript'"
        ></markdown>
      </ng-container>
    </div>

    <div [ngClass]="['grid grid-cols-2 mt-auto m-4']">
      <button
        type="button"
        [ngClass]="[
          'p-2 lg:p-3 rounded-md',
          'hover:bg-[rgba(128,128,128,0.15)]',
          'text-sm lg:text-base',
          selectedTab === 0
            ? 'text-[var(--primary-500)] font-bold'
            : 'text-inherit'
        ]"
        (click)="switchTab(0)"
      >
        Value
      </button>

      <button
        type="button"
        [ngClass]="[
          'flex gap-2 items-center justify-center p-2 lg:p-3 rounded-md',
          'hover:bg-[rgba(128,128,128,0.15)]',
          'text-sm lg:text-base',
          selectedTab === 1
            ? 'text-[var(--primary-500)] font-bold'
            : 'text-inherit'
        ]"
        (click)="switchTab(1)"
      >
        <span class="text-red-500" [hidden]="!form.errors">
          <i class="bi bi-exclamation-triangle"></i>
        </span>
        <span> Errors </span>
      </button>
    </div>
  </div>
</ng-container>
