:root {
  --primary-100: #f6f1ee;
  --primary-200: #ece3de;
  --primary-300: #e3d4cd;
  --primary-400: #d9c6bd;
  --primary-500: #d0b8ac;
  --primary-600: #a6938a;
  --primary-700: #7d6e67;
  --primary-800: #534a45;
  --primary-900: #2a2522;
}

* {
  color: var(--primary-800);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

code {
  white-space: pre;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-500);
  color: var(--primary-900);
  font-weight: bold;
  transition: 0.2s;

  &:hover {
    background-color: var(--primary-400);
  }

  &:active {
    background-color: var(--primary-600);
  }

  &:disabled {
    opacity: 0.5;
  }
}

input {
  padding: 0.5rem 0.75rem;
  font-size: inherit;
  border: solid 1px lightgray;
  border-radius: 0.5rem;
  outline: none;

  &:hover {
    border-color: var(--primary-500);
  }

  &:focus {
    border-color: var(--primary-600);
    box-shadow: 0 0 2px 1px var(--primary-300);
  }
}

select {
  width: 100%;
  padding: 0.5rem;
  font-size: inherit;
  border-radius: 0.5rem;
  border: solid 1px lightgray;
  outline: none;

  &:hover,
  &:focus {
    border: solid 1px var(--primary-600);
    box-shadow: 0 0 2px 1px var(--primary-300);
  }
}

.option-button {
  --markerSize: 1rem;

  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;

  &:hover {
    .marker {
      box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    }
  }

  input[type="radio"] {
    display: none;

    &:checked {
      ~ .marker {
        background-color: var(--primary-600);

        &::before {
          width: 60%;
          height: 60%;
          background-color: white;
        }
      }
    }

    ~ .marker {
      border: solid 2px var(--primary-600);
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        transition: 0.25s;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ .marker {
        background-color: var(--primary-600);

        &::before {
          opacity: 1;
        }
      }
    }

    ~ .marker {
      border: solid 2px var(--primary-600);
      border-radius: 0.25rem;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.1rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 30%;
        height: 60%;
        border: solid 2px white;
        border-left: none;
        border-top: none;
        opacity: 0;
        transition: 0.1s;
      }
    }
  }

  .marker {
    position: relative;
    display: block;
    width: var(--markerSize);
    height: var(--markerSize);
    margin-right: 0.5rem;
    cursor: pointer;
    transition: 0.25s;
    z-index: 0;
  }
}

.switch-button {
  --buttonWidth: 2.5rem;
  --buttonHeight: 1.5rem;

  position: relative;
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  border-radius: var(--buttonWidth);
  background-color: var(--primary-600);
  cursor: pointer;
  transition: 0.2s;
  z-index: 0;

  &:hover {
    background-color: var(--primary-500);
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.9);
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ .marker {
        left: calc(var(--buttonWidth) - var(--markerPadding) - var(--markerSize));
      }
    }
  }

  .marker {
    --markerSize: calc(var(--buttonHeight) * 0.65);
    --markerPadding: calc((var(--buttonHeight) - var(--markerSize)) * 0.5);

    position: absolute;
    top: 50%;
    left: var(--markerPadding);
    transform: translate(0, -50%);
    width: var(--markerSize);
    height: var(--markerSize);
    border-radius: 50%;
    background-color: white;
    transition: 0.25s;
  }
}
