.btn-menu {
  --line-weight: 2px;
  --line-color: gray;
  --btn-size: 1.35rem;

  width: var(--btn-size);
  height: var(--btn-size);
  padding: 0;
  background-color: unset;

  &.active {
    span {
      background-color: unset;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &:hover {
    background-color: unset;
  }

  span {
    position: relative;
    display: block;
    width: 100%;
    height: var(--line-weight);
    margin: 0 auto;
    background-color: var(--line-color);
    border-radius: 2rem;
    z-index: 0;
    transition: 0.2s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--line-weight);
      background-color: var(--line-color);
      border-radius: 2rem;
      transition: 0.2s;
    }

    &::before {
      top: calc(var(--btn-size) / -3);
    }

    &::after {
      top: calc(var(--btn-size) / 3);
    }
  }
}
