<div class="tabs">
  <ng-container *ngFor="let item of tabs">
    <button [class.active]="currentTab === item" (click)="currentTab = item">
      {{ item.toUpperCase() }}
    </button>
  </ng-container>
</div>

<ng-container [ngSwitch]="currentTab">
  <ng-container *ngSwitchCase="'html'">
    <markdown [data]="markdown[currentTab] | language : 'html'"></markdown
  ></ng-container>

  <ng-container *ngSwitchCase="'ts'">
    <markdown [data]="markdown[currentTab] | language : 'javascript'"></markdown
  ></ng-container>

  <ng-container *ngSwitchCase="'result'">
    <ng-content></ng-content>
  </ng-container>
  <!-- <div class="result">
  </div> -->
</ng-container>
